<a href="https://colab.research.google.com/github/YvesNonos/Coffee-Shop/blob/main/Untitled23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data CLeaning 1

In [ ]:
# Import the librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Load Dataset
hotel_bookings = pd.read_csv("/content/hotel_bookings.csv.zip")
hotel_bookings

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [ ]:
hotel_bookings.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [ ]:
hotel_bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [ ]:
# Drop/Rename Columns
hotel_bookings.drop(columns = ['unamed'], axis = 1, inplace = True)

In [ ]:
# Drop/Rename Columns
hotel_bookings.rename(columns={'adults': 'num_adults', 'children': 'num_children', 'babies': 'num_babies'}, inplace=True)
hotel_bookings.head(10)

,hotel,is_canceled,lead_time,arrival_date_week_number,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,num_children,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned
0,Resort Hotel,False,342,27,July,1,0,0,2,0,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,301-400
1,Resort Hotel,False,737,27,July,1,0,0,2,0,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,701-800
2,Resort Hotel,False,7,27,July,1,0,1,1,0,...,No Deposit,-1,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100
3,Resort Hotel,False,13,27,July,1,0,1,1,0,...,No Deposit,304,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100
4,Resort Hotel,False,14,27,July,1,0,2,2,0,...,No Deposit,240,0,Transient,98.0,0,1,Check-Out,2015-07-03,0-100
5,Resort Hotel,False,14,27,July,1,0,2,2,0,...,No Deposit,240,0,Transient,98.0,0,1,Check-Out,2015-07-03,0-100
6,Resort Hotel,False,0,27,July,1,0,2,2,0,...,No Deposit,-1,0,Transient,107.0,0,0,Check-Out,2015-07-03,NaN
7,Resort Hotel,False,9,27,July,1,0,2,2,0,...,No Deposit,303,0,Transient,103.0,0,1,Check-Out,2015-07-03,0-100
8,Resort Hotel,True,85,27,July,1,0,3,2,0,...,No Deposit,240,0,Transient,82.0,0,1,Canceled,2015-05-06,0-100
9,Resort Hotel,True,75,27,July,1,0,3,2,0,...,No Deposit,15,0,Transient,105.5,0,0,Canceled,2015-04-22,0-100

In [ ]:
# NaNs
hotel_bookings.isnull().sum()*100/len(hotel_bookings)

hotel                             0.0
is_canceled                       0.0
lead_time                         0.0
arrival_date_year                 0.0
arrival_date_month                0.0
arrival_date_week_number          0.0
arrival_date_day_of_month         0.0
stays_in_weekend_nights           0.0
stays_in_week_nights              0.0
num_adults                        0.0
num_children                      0.0
num_babies                        0.0
meal                              0.0
country                           0.0
market_segment                    0.0
distribution_channel              0.0
is_repeated_guest                 0.0
previous_cancellations            0.0
previous_bookings_not_canceled    0.0
reserved_room_type                0.0
assigned_room_type                0.0
booking_changes                   0.0
deposit_type                      0.0
agent                             0.0
days_in_waiting_list              0.0
customer_type                     0.0
adr                               0.0
required_car_parking_spaces       0.0
total_of_special_requests         0.0
reservation_status                0.0
reservation_status_date           0.0
dtype: float64

In [ ]:
# @title Default title text
hotel_bookings['agent'].unique()
hotel_bookings[hotel_bookings['agent'] == 5]
hotel_bookings['agent'].fillna(-1, inplace = True)
hotel_bookings[hotel_bookings['num_children'].isna()]
hotel_bookings[hotel_bookings['country'].isna()][['hotel', 'is_canceled', 'country']]
hotel_bookings['country'].fillna('unknown', inplace = True)
hotel_bookings.dropna(subset=['num_children'], inplace = True)

/tmp/ipython-input-2293790739.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hotel_bookings['agent'].fillna(-1, inplace = True)

In [ ]:
hotel_bookings.drop(columns = ['company'], inplace = True, errors='ignore')
hotel_bookings.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,-1.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,-1.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,-1.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [ ]:
# Check column data types
hotel_bookings.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
num_adults                          int64
num_children                      float64
num_babies                          int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [ ]:
# Correct the data types
hotel_bookings = hotel_bookings.astype({'is_canceled': 'boolean', 'is_repeated_guest': 'boolean', 'num_children': 'int', 'agent': 'int'})
hotel_bookings.dtypes

hotel                              object
is_canceled                       boolean
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
num_adults                          int64
num_children                        int64
num_babies                          int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 boolean
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                               int64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [ ]:
# Bin columns
# Reduce the number of unique values we have into groups
hotel_bookings['lead_time'].unique()
hotel_bookings['lead_time'].describe() # Help grouping the results

bins = [0, 100, 200, 300, 400, 500, 600, 700, 800]
labels = ['0-100', '101-200', '201-300', '301-400', '401-500', '501-600', '601-700', '701-800']

hotel_bookings['lead_time_binned'] = pd.cut(hotel_bookings['lead_time'], bins=bins, labels=labels)
hotel_bookings[['lead_time', 'lead_time_binned']]

        lead_time lead_time_binned
0             342          301-400
1             737          701-800
2               7            0-100
3              13            0-100
4              14            0-100
...           ...              ...
119385         23            0-100
119386        102          101-200
119387         34            0-100
119388        109          101-200
119389        205          201-300

[119386 rows x 2 columns]

In [ ]:
# How to seperate the data from one column into multiple columns
hotel_bookings.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned
0,Resort Hotel,False,342,2015,July,27,1,0,0,2,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,301-400
1,Resort Hotel,False,737,2015,July,27,1,0,0,2,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,701-800
2,Resort Hotel,False,7,2015,July,27,1,0,1,1,...,No Deposit,-1,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100
3,Resort Hotel,False,13,2015,July,27,1,0,1,1,...,No Deposit,304,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100
4,Resort Hotel,False,14,2015,July,27,1,0,2,2,...,No Deposit,240,0,Transient,98.0,0,1,Check-Out,2015-07-03,0-100

In [ ]:
# Seperate the columns
# hotel_bookings['arrival_date_month'] = hotel_bookings['arrival_date'].str.split('-', expand=True)[0] # This column does not exist
# hotel_bookings['arrival_date_year'] = hotel_bookings['arrival_date'].str.split('-', expand=True)[1] # This column does not exist
hotel_bookings.head()

column_to_move = hotel_bookings.pop('arrival_date_month')
hotel_bookings.insert(4, 'arrival_date_month', column_to_move)
hotel_bookings.head()

column_to_move = hotel_bookings.pop('arrival_date_year')
hotel_bookings.insert(5, 'arrival_date_year', column_to_move)
hotel_bookings.head()

In [ ]:
hotel_bookings['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [ ]:
# String cleaning
hotel_bookings['hotel'] = hotel_bookings['hotel'].replace(r"[\*\n\^]", '', regex = True)
hotel_bookings['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [ ]:
# Remove Duplicated
hotel_bookings.loc[hotel_bookings.duplicated(keep = False)]

,hotel,is_canceled,lead_time,arrival_date_week_number,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,num_children,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned
4,Resort Hotel,False,14,27,July,1,0,2,2,0,...,No Deposit,240,0,Transient,98.00,0,1,Check-Out,2015-07-03,0-100
5,Resort Hotel,False,14,27,July,1,0,2,2,0,...,No Deposit,240,0,Transient,98.00,0,1,Check-Out,2015-07-03,0-100
21,Resort Hotel,False,72,27,July,1,2,4,2,0,...,No Deposit,250,0,Transient,84.67,0,1,Check-Out,2015-07-07,0-100
22,Resort Hotel,False,72,27,July,1,2,4,2,0,...,No Deposit,250,0,Transient,84.67,0,1,Check-Out,2015-07-07,0-100
39,Resort Hotel,False,70,27,July,2,2,3,2,0,...,No Deposit,250,0,Transient,137.00,0,1,Check-Out,2015-07-07,0-100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119352,City Hotel,False,63,35,August,31,0,3,3,0,...,No Deposit,9,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03,0-100
119353,City Hotel,False,63,35,August,31,0,3,3,0,...,No Deposit,9,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03,0-100
119354,City Hotel,False,63,35,August,31,0,3,3,0,...,No Deposit,9,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03,0-100
119372,City Hotel,False,175,35,August,31,1,3,1,0,...,No Deposit,42,0,Transient,82.35,0,1,Check-Out,2017-09-04,101-200
119373,City Hotel,False,175,35,August,31,1,3,1,0,...,No Deposit,42,0,Transient,82.35,0,1,Check-Out,2017-09-04,101-200

In [ ]:
# Remove Duplicates
hotel_bookings.drop_duplicates()
hotel_bookings.loc[:, ~hotel_bookings.columns.duplicated(keep=False)]

,hotel,is_canceled,lead_time,arrival_date_week_number,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,num_children,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned
0,Resort Hotel,False,342,27,July,1,0,0,2,0,...,No Deposit,-1,0,Transient,0.00,0,0,Check-Out,2015-07-01,301-400
1,Resort Hotel,False,737,27,July,1,0,0,2,0,...,No Deposit,-1,0,Transient,0.00,0,0,Check-Out,2015-07-01,701-800
2,Resort Hotel,False,7,27,July,1,0,1,1,0,...,No Deposit,-1,0,Transient,75.00,0,0,Check-Out,2015-07-02,0-100
3,Resort Hotel,False,13,27,July,1,0,1,1,0,...,No Deposit,304,0,Transient,75.00,0,0,Check-Out,2015-07-02,0-100
4,Resort Hotel,False,14,27,July,1,0,2,2,0,...,No Deposit,240,0,Transient,98.00,0,1,Check-Out,2015-07-03,0-100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,False,23,35,August,30,2,5,2,0,...,No Deposit,394,0,Transient,96.14,0,0,Check-Out,2017-09-06,0-100
119386,City Hotel,False,102,35,August,31,2,5,3,0,...,No Deposit,9,0,Transient,225.43,0,2,Check-Out,2017-09-07,101-200
119387,City Hotel,False,34,35,August,31,2,5,2,0,...,No Deposit,9,0,Transient,157.71,0,4,Check-Out,2017-09-07,0-100
119388,City Hotel,False,109,35,August,31,2,5,2,0,...,No Deposit,89,0,Transient,104.40,0,0,Check-Out,2017-09-07,101-200
119389,City Hotel,False,205,35,August,29,2,7,2,0,...,No Deposit,9,0,Transient,151.20,0,2,Check-Out,2017-09-07,201-300