<a href="https://colab.research.google.com/github/YvesNonos/Coffee-Shop/blob/main/Untitled22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Cleaning

In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv("/content/marketing_campaign_data_messy.csv")
df

,Campaign_ID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,Campaign_Tag
0,CMP-00001,Q4_Summer_CMP-00001,11/24/2023 0:00,12/13/2023,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,5/6/2023 0:00,5/12/2023,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,12/13/2023 0:00,12/20/2023,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,10/30/2023,11/3/2023,TikTok,55886,2019,2180.38,135.0,TRUE,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,4/22/2023 0:00,4/23/2023,Facebook,7265,169,252.44,30.0,Yes,NaN,FA
...,...,...,...,...,...,...,...,...,...,...,...,...
2015,CMP-00400,Q3_Summer_CMP-00400,10/31/2023 0:00,11/13/2023,TikTok,30592,586,$503.95,77.0,1,NaN,TI
2016,CMP-01255,Q4_Summer_CMP-01255,9/1/2023 0:00,9/26/2023,Google Ads,20097,897,1641,162.0,0,NaN,GO
2017,CMP-01050,Q2_Launch_CMP-01050,2/9/2023 0:00,2/21/2023,Instagram,33254,1117,883.82,214.0,0,NaN,IN
2018,CMP-01118,Q4_Winter_CMP-01118,3/30/2023 0:00,4/27/2023,Facebook,68728,2960,4198.5,591.0,Yes,NaN,FA
2019,CMP-01554,Q4_Launch_CMP-01554,6/26/2023 0:00,7/9/2023,Email,96402,1090,1315.59,66.0,Y,NaN,EM

In [37]:
df = pd.read_csv("/content/marketing_campaign_data_messy.csv")

In [38]:
# Load the messy data
df = pd.read_csv("/content/marketing_campaign_data_messy.csv")
print(f"loaded Dataset: {df.shape[0]} rows, {df.shape[1]} columns")

loaded Dataset: 2020 rows, 12 columns

In [39]:
df

,Campaign_ID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,Campaign_Tag
0,CMP-00001,Q4_Summer_CMP-00001,11/24/2023 0:00,12/13/2023,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,5/6/2023 0:00,5/12/2023,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,12/13/2023 0:00,12/20/2023,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,10/30/2023,11/3/2023,TikTok,55886,2019,2180.38,135.0,TRUE,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,4/22/2023 0:00,4/23/2023,Facebook,7265,169,252.44,30.0,Yes,NaN,FA
...,...,...,...,...,...,...,...,...,...,...,...,...
2015,CMP-00400,Q3_Summer_CMP-00400,10/31/2023 0:00,11/13/2023,TikTok,30592,586,$503.95,77.0,1,NaN,TI
2016,CMP-01255,Q4_Summer_CMP-01255,9/1/2023 0:00,9/26/2023,Google Ads,20097,897,1641,162.0,0,NaN,GO
2017,CMP-01050,Q2_Launch_CMP-01050,2/9/2023 0:00,2/21/2023,Instagram,33254,1117,883.82,214.0,0,NaN,IN
2018,CMP-01118,Q4_Winter_CMP-01118,3/30/2023 0:00,4/27/2023,Facebook,68728,2960,4198.5,591.0,Yes,NaN,FA
2019,CMP-01554,Q4_Launch_CMP-01554,6/26/2023 0:00,7/9/2023,Email,96402,1090,1315.59,66.0,Y,NaN,EM

In [40]:
# The first few row
df.head()

,Campaign_ID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,Campaign_Tag
0,CMP-00001,Q4_Summer_CMP-00001,11/24/2023 0:00,12/13/2023,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,5/6/2023 0:00,5/12/2023,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,12/13/2023 0:00,12/20/2023,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,10/30/2023,11/3/2023,TikTok,55886,2019,2180.38,135.0,TRUE,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,4/22/2023 0:00,4/23/2023,Facebook,7265,169,252.44,30.0,Yes,NaN,FA

In [41]:
df = df.loc[:,~df.columns.duplicated()]
df

,Campaign_ID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,Campaign_Tag
0,CMP-00001,Q4_Summer_CMP-00001,11/24/2023 0:00,12/13/2023,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,5/6/2023 0:00,5/12/2023,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,12/13/2023 0:00,12/20/2023,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,10/30/2023,11/3/2023,TikTok,55886,2019,2180.38,135.0,TRUE,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,4/22/2023 0:00,4/23/2023,Facebook,7265,169,252.44,30.0,Yes,NaN,FA
...,...,...,...,...,...,...,...,...,...,...,...,...
2015,CMP-00400,Q3_Summer_CMP-00400,10/31/2023 0:00,11/13/2023,TikTok,30592,586,$503.95,77.0,1,NaN,TI
2016,CMP-01255,Q4_Summer_CMP-01255,9/1/2023 0:00,9/26/2023,Google Ads,20097,897,1641,162.0,0,NaN,GO
2017,CMP-01050,Q2_Launch_CMP-01050,2/9/2023 0:00,2/21/2023,Instagram,33254,1117,883.82,214.0,0,NaN,IN
2018,CMP-01118,Q4_Winter_CMP-01118,3/30/2023 0:00,4/27/2023,Facebook,68728,2960,4198.5,591.0,Yes,NaN,FA
2019,CMP-01554,Q4_Launch_CMP-01554,6/26/2023 0:00,7/9/2023,Email,96402,1090,1315.59,66.0,Y,NaN,EM

In [42]:
# Data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0    Campaign_ID   2020 non-null   object
 1   Campaign_Name  2020 non-null   object
 2   Start_Date     2020 non-null   object
 3   End_Date       2020 non-null   object
 4   Channel        1919 non-null   object
 5   Impressions    2020 non-null   int64
 6   Clicks         2020 non-null   int64
 7   Spend          2020 non-null   object
 8   Conversions    1820 non-null   float64
 9   Active         2020 non-null   object
 10  Clicks         40 non-null     float64
 11  Campaign_Tag   2020 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 189.5+ KB

In [43]:
 categorical_features = [ col for col in df.columns if df[col].dtype =='object']
 numerical_features = [ col for col in df.columns if df[col].dtypes == 'int']
 print(f"categorical_feature : {categorical_features}")
 print(f"numerical_features: {numerical_features}")

categorical_feature : [' Campaign_ID ', 'Campaign_Name', 'Start_Date', 'End_Date', 'Channel', 'Spend', 'Active', 'Campaign_Tag']
numerical_features: ['Impressions', 'Clicks ']

In [44]:
df.describe()

        Impressions      Clicks   Conversions        Clicks
count   2020.000000  2020.000000  1820.000000     40.000000
mean   49839.896040  1500.744059   186.085714  54856.200000
std    28579.637473  1084.765654   160.129172  30552.773369
min     1055.000000    11.000000     0.000000   2508.000000
25%    25033.500000   650.750000    68.000000  30164.750000
50%    50097.500000  1245.000000   142.000000  57707.500000
75%    74784.250000  2185.250000   257.000000  81497.500000
max    99875.000000  4812.000000   943.000000  99483.000000

In [45]:
df.isnull().sum()

 Campaign_ID        0
Campaign_Name       0
Start_Date          0
End_Date            0
Channel           101
Impressions         0
Clicks              0
Spend               0
Conversions       200
Active              0
Clicks           1980
Campaign_Tag        0
dtype: int64

In [46]:
 df.columns = df.columns.tolist()
 df.columns

Index([' Campaign_ID ', 'Campaign_Name', 'Start_Date', 'End_Date', 'Channel',
       'Impressions', 'Clicks ', 'Spend', 'Conversions', 'Active', 'Clicks',
       'Campaign_Tag'],
      dtype='object')

In [47]:
# =================================================================================
# ## STEP 1: HEADER CLEANNING
# =================================================================================
print(df.columns.tolist())
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
print('FIXED APPLIED')
print(df.columns.tolist())

[' Campaign_ID ', 'Campaign_Name', 'Start_Date', 'End_Date', 'Channel', 'Impressions', 'Clicks ', 'Spend', 'Conversions', 'Active', 'Clicks', 'Campaign_Tag']
FIXED APPLIED
['campaign_id', 'campaign_name', 'start_date', 'end_date', 'channel', 'impressions', 'clicks', 'spend', 'conversions', 'active', 'clicks', 'campaign_tag']

In [48]:
#=================================================
# STEP 2: TYPE CONVERSION & CURRENCY CLEANNING
#=================================================
dirty_spend_mask = df['spend'].astype(str).str.contains(r'\$')
print(df.loc[dirty_spend_mask,['campaign_id', 'spend']].head(3))
df['spend'] = df['spend'].astype(str).str.replace(r'[^\d.-]','', regex = True)
df['spend'] = pd.to_numeric(df['spend'])
print('FIX APPLIED')
print(df.loc[dirty_spend_mask, ['campaign_id', 'spend']].head(3))

   campaign_id       spend
0    CMP-00001    $102.82
21   CMP-00022  $2,428.40
22   CMP-00023  $4,726.22
FIX APPLIED
   campaign_id    spend
0    CMP-00001   102.82
21   CMP-00022  2428.40
22   CMP-00023  4726.22

In [49]:
#============================================
# STEP 3 CATEGORICAL TYPOS (FUZZY LOGIC)
#============================================
print(df['channel'].unique())
cleanup_map = {
    'Facebok' : 'Facebook',
    'Insta_gram' : 'Instagram',
    'Gogle' : 'Google Ads',
    'Tik_tok' : 'TikTok',
    'E-mail' : 'Email',
    'N/A' : np.nan # Handling the ghost values here too
    }

df['channel'] = df['channel'].replace(cleanup_map)
print('FIX APPLIED')
print(df['channel'].unique())

['TikTok' 'Facebook' 'Email' 'Instagram' 'Google Ads' 'E-mail' nan 'Gogle'
 'Tik_Tok' 'Facebok' 'Insta_gram']
FIX APPLIED
['TikTok' 'Facebook' 'Email' 'Instagram' 'Google Ads' nan 'Tik_Tok']

In [50]:
#===================================
# STEP 4 HANDLING MIXED BOLEANS
#===================================
print(df['active'].unique())
bool_map = {
    'Yes': True,
    'Y': True,
    '1': True,
    'No': False,
    '0': False,
    'N': False,
}
df['active'] = df['active'].map(bool_map).fillna(False).astype(bool)
print('FIX APPLIED')
print(df['active'].unique())

['Y' '0' 'No' 'TRUE' 'Yes' '1' 'FALSE']
FIX APPLIED
[ True False]

/tmp/ipython-input-2818913905.py:13: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['active'] = df['active'].map(bool_map).fillna(False).astype(bool)

In [52]:
#===========================
#STEP 5: DATE PARSING
#===========================
df['start_date'] = pd.to_datetime(df['start_date'], format = '%m-%d-%y')
df['end_date'] = pd.to_datetime(df['end_date'], format = '%m-%d-%y')
print('FIX APPLIED')
print(df['start_date'], ['end_date'])

ValueError: time data "11/24/2023 0:00" doesn't match format "%m-%d-%y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
#=============================
# STEP5: DATE PARSING
#=============================
print(df['start_date'].dtype)

df['start_date'] = pd.to_datetime(df['start_date'], errors = 'coerce')
df['end_date'] = pd.to_datetime(df['end_date'],dayfirst=True, errors = 'coerce')
print("FIX APPLIED")
print(df['start_date'].dtype)
print(df['start_date'], df['end_date'])

In [ ]:
#===========================
# STEP 6: LOGICAL INTEGRITY (CLICKS vs IMPRESSIONS)
#===========================
impossible_mask = df['clicks'] > df['impressions']
print(df.loc[impossible_mask, ['campaign_id', 'impressions', 'clicks']].head(3))

In [ ]:
#===========================
# STEP 7: LOGICAL INTEGRITY (TIME TRAVEL)
#============================
time_travel_mask = df['end_date'] < df['start_date']
print(df.loc[time_travel_mask,['campaign_id', 'start_date', 'end_date']].head(3))
df.loc[time_travel_mask, 'end_date'] = df.loc[time_travel_mask, 'start_date'] + pd.Timedelta(days=30)
print('FIX APPLIED')
print(df.loc[time_travel_mask, ['campaign_id', 'start_date', 'end_date']].head(3))

In [ ]:
#========================================
# STEP 8: HANDLING OUTLIERS (WINSORIZING)
#========================================
print(df['spend'].describe())
q1 = df['spend'].quantile(0.25)
q3 = df['spend'].quantile(0.75)
iqr = q3 - q1

In [54]:
#========================================
# STEP 8: HANDLING OUTLIERS (WINSORIZING)
#========================================
Q1 = df['spend'].quantile(0.25)
Q3 = df['spend'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outlier_mask = df['spend'] > upper_bound
print(df.loc[outlier_mask, ['campaign_id', 'spend']].head(3))
print('FIX APPLIED')
df.loc[outlier_mask, 'spend'] = upper_bound
print(df.loc[outlier_mask, ['campaign_id', 'spend']].head())

    campaign_id    spend
57    CMP-00058  5719.84
70    CMP-00071  5951.42
119   CMP-00120  7471.52
FIX APPLIED
    campaign_id    spend
57    CMP-00058  5620.96
70    CMP-00071  5620.96
119   CMP-00120  5620.96
124   CMP-00125  5620.96
130   CMP-00131  5620.96

In [53]:
#============================================
# STEP 9: STRING PARSING (FEATURE EXTRACTION)
#============================================
print(df['campaign_id'].head(3))
df['season'] = df['campaign_id'].str.extract(r'Q\d_([^_]+)')
print('FIX APPLIED')
print(df[['campaign_id', 'season']].head(3))

0    CMP-00001
1    CMP-00002
2    CMP-00003
Name: campaign_id, dtype: object
FIX APPLIED
  campaign_id season
0   CMP-00001    NaN
1   CMP-00002    NaN
2   CMP-00003    NaN