<a href="https://colab.research.google.com/github/YvesNonos/Coffee-Shop/blob/main/Untitled25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Cleaning  Cricket Dataset

In [ ]:
# Import the librairires
import pandas as pd
import numpy as np

In [ ]:
# Load Datset
pd.read_csv("/content/cricket_dataset.csv")

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

In [ ]:
# First few rows of the dataset
cricket_dataset = pd.read_csv("/content/cricket_dataset.csv")
cricket_dataset.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN

In [ ]:
# Dataset description
cricket_dataset.shape

(2500, 15)

In [ ]:
# Dataset information
cricket_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2500 non-null   int64
 1   Player       2500 non-null   object
 2   Span         2500 non-null   object
 3   Mat          2500 non-null   int64
 4   Inns         2500 non-null   object
 5   NO           2500 non-null   object
 6   Runs         2500 non-null   object
 7   HS           2500 non-null   object
 8   Ave          2500 non-null   object
 9   BF           2500 non-null   object
 10  SR           2500 non-null   object
 11  100          2500 non-null   object
 12  50           2500 non-null   object
 13  0            2500 non-null   object
 14  Unnamed: 13  0 non-null      float64
dtypes: float64(1), int64(2), object(12)
memory usage: 293.1+ KB

In [ ]:
# Check the data types
cricket_dataset.dtypes

Unnamed: 0       int64
Player          object
Span            object
Mat              int64
Inns            object
NO              object
Runs            object
HS              object
Ave             object
BF              object
SR              object
100             object
50              object
0               object
Unnamed: 13    float64
dtype: object

In [ ]:
# Check the statistical values
cricket_dataset.describe()

        Unnamed: 0          Mat  Unnamed: 13
count  2500.000000  2500.000000          0.0
mean     24.500000    37.161600          NaN
std      14.433757    58.885075          NaN
min       0.000000     1.000000          NaN
25%      12.000000     4.000000          NaN
50%      24.500000    13.000000          NaN
75%      37.000000    43.000000          NaN
max      49.000000   463.000000          NaN

In [ ]:
# Check th NaNs
cricket_dataset.isnull().sum()

Unnamed: 0        0
Player            0
Span              0
Mat               0
Inns              0
NO                0
Runs              0
HS                0
Ave               0
BF                0
SR                0
100               0
50                0
0                 0
Unnamed: 13    2500
dtype: int64

In [ ]:
# Check the columns
cricket_dataset.columns

Index(['Unnamed: 0', 'Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS',
       'Ave', 'BF', 'SR', '100', '50', '0', 'Unnamed: 13'],
      dtype='object')

In [ ]:
# Drop the duplicates
cricket_dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2495    False
2496    False
2497    False
2498    False
2499    False
Length: 2500, dtype: bool

In [ ]:
cricket_dataset.drop_duplicates()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

In [ ]:
cricket_dataset.loc[:, ~cricket_dataset.columns.duplicated()]

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

In [ ]:
# Rename the columns into a list
# Ensure cricket_dataset is loaded in case its state was lost
import pandas as pd
cricket_dataset = pd.read_csv("/content/cricket_dataset.csv")
cricket_dataset = cricket_dataset.rename(columns = {"Mat": "Matches",
                                  "No": "Not_Outs",
                                  "HS": "High_Inns_Score",
                                  "BF": "Ball_Faced",
                                  "BS": "Batting_Strike"}, errors = 'ignore')

In [ ]:
cricket_dataset.head()

,Unnamed: 0,Player,Span,Matches,Inns,NO,Runs,High_Inns_Score,Ave,Ball_Faced,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN

In [ ]:
cricket_dataset.isnull().any()

Unnamed: 0         False
Player             False
Span               False
Matches            False
Inns               False
NO                 False
Runs               False
High_Inns_Score    False
Ave                False
Ball_Faced         False
SR                 False
100                False
50                 False
0                  False
Unnamed: 13         True
dtype: bool

In [ ]:
cricket_dataset[cricket_dataset['Unnamed: 13'].isna() == 1]

,Unnamed: 0,Player,Span,Matches,Inns,NO,Runs,High_Inns_Score,Ave,Ball_Faced,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN

In [ ]:
cricket_dataset['Unnamed: 13'].isna() == 1

0       True
1       True
2       True
3       True
4       True
        ...
2495    True
2496    True
2497    True
2498    True
2499    True
Name: Unnamed: 13, Length: 2500, dtype: bool

In [ ]:
cricket_dataset['Unnamed: 13'].fillna(0)

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
2495    0.0
2496    0.0
2497    0.0
2498    0.0
2499    0.0
Name: Unnamed: 13, Length: 2500, dtype: float64

In [ ]:
import pandas as pd
# Reload the original DataFrame as it was incorrectly overwritten as a Series
cricket_dataset = pd.read_csv("/content/cricket_dataset.csv")

# Apply the fillna operation to the specific column without overwriting the entire DataFrame
cricket_dataset['Unnamed: 13'] = cricket_dataset['Unnamed: 13'].fillna(0)
cricket_dataset.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,0.0
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,0.0
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,0.0
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,0.0
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,0.0

In [ ]:
cricket_dataset[cricket_dataset['Player'] == 'SR Tendulkar' ]

Empty DataFrame
Columns: [Unnamed: 0, Player, Span, Mat, Inns, NO, Runs, HS, Ave, BF, SR, 100, 50, 0, Unnamed: 13]
Index: []

In [ ]:
# Drop Duplicates
cricket_dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2495    False
2496    False
2497    False
2498    False
2499    False
Length: 2500, dtype: bool

In [ ]:
cricket_dataset.drop_duplicates()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,0.0
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,0.0
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,0.0
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,0.0
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,0.0
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,0.0
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,0.0
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,0.0
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,0.0

In [ ]:
cricket_dataset.loc[:, ~cricket_dataset.columns.duplicated()]

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,0.0
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,0.0
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,0.0
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,0.0
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,0.0
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,0.0
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,0.0
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,0.0
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,0.0

In [ ]:
cricket_dataset[cricket_dataset['Player'].duplicated()==1]

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
1949,49,Raqibul Hasan (BDESH),1986-1986,2,2,0,17,12,8.5,65,26.15,0,0,0,0.0

In [ ]:
cricket_dataset[cricket_dataset['Player'].isin(['SR Tendulkar', 'KC Sangakkara', 'RT Ponting'])]

Empty DataFrame
Columns: [Unnamed: 0, Player, Span, Mat, Inns, NO, Runs, HS, Ave, BF, SR, 100, 50, 0, Unnamed: 13]
Index: []

In [ ]:
# Split up Span into Start and End Date

In [ ]:
cricket_dataset = pd.read_csv("/content/cricket_dataset.csv")

In [ ]:
cricket_dataset['Span'].str.split(pat = '-')

0       [1989, 2012]
1       [2000, 2015]
2       [1995, 2012]
3       [1989, 2011]
4       [1998, 2015]
            ...
2495    [2015, 2015]
2496    [2018, 2018]
2497    [1994, 1994]
2498    [1998, 1998]
2499    [1981, 1981]
Name: Span, Length: 2500, dtype: object

In [ ]:
cricket_dataset['Start_date'] = cricket_dataset['Span'].str.split(pat = '-', expand = True)[0]
cricket_dataset['End_date'] = cricket_dataset['Span'].str.split(pat = '-', expand = True)[1]
cricket_dataset.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13,Start_date,End_date
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN,1989,2012
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN,2000,2015
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN,1995,2012
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN,1989,2011
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN,1998,2015

In [ ]:
cricket_dataset.dtypes

Unnamed: 0       int64
Player          object
Span            object
Mat              int64
Inns            object
NO              object
Runs            object
HS              object
Ave             object
BF              object
SR              object
100             object
50              object
0               object
Unnamed: 13    float64
Start_date      object
End_date        object
dtype: object

In [ ]:
cricket_dataset['Start_date '].astype('int')

KeyError: 'Start_date '

In [ ]:
cricket_dataset['Span'].str.split(pat='-')

0       [1989, 2012]
1       [2000, 2015]
2       [1995, 2012]
3       [1989, 2011]
4       [1998, 2015]
            ...
2495    [2015, 2015]
2496    [2018, 2018]
2497    [1994, 1994]
2498    [1998, 1998]
2499    [1981, 1981]
Name: Span, Length: 2500, dtype: object

In [ ]:
cricket_dataset

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13,Start_date,End_date
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN,1989,2012
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN,2000,2015
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN,1995,2012
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN,1989,2011
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN,1998,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN,2015,2015
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN,2018,2018
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN,1994,1994
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN,1998,1998
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN,1981,1981

In [ ]:
cricket_dataset['Start_year'] = cricket_dataset['Span'].str.split(pat = '-').str[0]
cricket_dataset['End_year'] = cricket_dataset['Span'].str.split(pat = '-').str[1]
cricket_dataset.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13,Start_date,End_date,Start_year,End_year
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN,1989,2012,1989,2012
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN,2000,2015,2000,2015
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN,1995,2012,1995,2012
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN,1989,2011,1989,2011
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN,1998,2015,1998,2015

In [ ]:
cricket_dataset.dtypes

Unnamed: 0       int64
Player          object
Span            object
Mat              int64
Inns            object
NO              object
Runs            object
HS              object
Ave             object
BF              object
SR              object
100             object
50              object
0               object
Unnamed: 13    float64
Start_date      object
End_date        object
Start_year      object
End_year        object
dtype: object

In [ ]:
cricket_dataset['Start_year'].astype(int)

0       1989
1       2000
2       1995
3       1989
4       1998
        ...
2495    2015
2496    2018
2497    1994
2498    1998
2499    1981
Name: Start_year, Length: 2500, dtype: int64

In [ ]:
cricket_dataset = cricket_dataset['End_year'].astype(int)

In [ ]:
import pandas as pd
# Reload the original DataFrame as it was incorrectly overwritten as a Series
cricket_dataset = pd.read_csv("/content/cricket_dataset.csv")

# Re-create Start_year and End_year columns
cricket_dataset['Start_year'] = cricket_dataset['Span'].str.split(pat = '-').str[0]
cricket_dataset['End_year'] = cricket_dataset['Span'].str.split(pat = '-').str[1]

# Convert both 'Start_year' and 'End_year' to integer type
cricket_dataset = cricket_dataset.astype({'Start_year': 'int', 'End_year': 'int'})
cricket_dataset.dtypes

Unnamed: 0       int64
Player          object
Span            object
Mat              int64
Inns            object
NO              object
Runs            object
HS              object
Ave             object
BF              object
SR              object
100             object
50              object
0               object
Unnamed: 13    float64
Start_year       int64
End_year         int64
dtype: object

In [ ]:
cricket_dataset.drop(columns = ['Start_date', 'End_date'])

KeyError: "['Start_date', 'End_date'] not found in axis"

In [ ]:
cricket_dataset

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13,Start_year,End_year
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN,1989,2012
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN,2000,2015
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN,1995,2012
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN,1989,2011
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN,1998,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN,2015,2015
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN,2018,2018
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN,1994,1994
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN,1998,1998
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN,1981,1981

In [ ]:
# Drop columns [Start_date] and [End_date]
cricket_dataset.drop(columns = ['Start_date', 'End_date', 'Span'])

KeyError: "['Start_date', 'End_date'] not found in axis"

In [ ]:
# Split up the country from the player
cricket_dataset['Name'] = cricket_dataset['Player'].str.extract(r'^(.*)\s*\(')
cricket_dataset['country'] = cricket_dataset['Player'].str.extract(r'\((.*)\)')

In [ ]:
cricket_dataset.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13,Start_year,End_year,Name,country
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN,1989,2012,SR Tendulkar,INDIA
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN,2000,2015,KC Sangakkara,Asia/ICC/SL
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN,1995,2012,RT Ponting,AUS/ICC
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN,1989,2011,ST Jayasuriya,Asia/SL
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN,1998,2015,DPMD Jayawardene,Asia/SL

In [ ]:
cricket_dataset['Player'].str.split(pat = '(')

0              [SR Tendulkar , INDIA)]
1       [KC Sangakkara , Asia/ICC/SL)]
2              [RT Ponting , AUS/ICC)]
3           [ST Jayasuriya , Asia/SL)]
4        [DPMD Jayawardene , Asia/SL)]
                     ...
2495                [ZS Ansari , ENG)]
2496           [Ariful Haque , BDESH)]
2497             [Ashfaq Ahmed , PAK)]
2498                 [MD Bailey , NZ)]
2499                 [GR Beard , AUS)]
Name: Player, Length: 2500, dtype: object

In [ ]:
cricket_dataset['Country'] = cricket_dataset['Player'].str.split(pat = '(').str[1]
cricket_dataset['Country'] = cricket_dataset['Country'].str.split(pat = ')').str[0]
cricket_dataset

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13,Start_year,End_year,Name,country,Country
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN,1989,2012,SR Tendulkar,INDIA,INDIA
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN,2000,2015,KC Sangakkara,Asia/ICC/SL,Asia/ICC/SL
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN,1995,2012,RT Ponting,AUS/ICC,AUS/ICC
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN,1989,2011,ST Jayasuriya,Asia/SL,Asia/SL
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN,1998,2015,DPMD Jayawardene,Asia/SL,Asia/SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN,2015,2015,ZS Ansari,ENG,ENG
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN,2018,2018,Ariful Haque,BDESH,BDESH
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN,1994,1994,Ashfaq Ahmed,PAK,PAK
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN,1998,1998,MD Bailey,NZ,NZ
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN,1981,1981,GR Beard,AUS,AUS

In [ ]:
cricket_dataset['Name'] = cricket_dataset['Player'].str.split(pat = '(').str[0]
cricket_dataset['Name']

0           SR Tendulkar
1          KC Sangakkara
2             RT Ponting
3          ST Jayasuriya
4       DPMD Jayawardene
              ...
2495           ZS Ansari
2496        Ariful Haque
2497        Ashfaq Ahmed
2498           MD Bailey
2499            GR Beard
Name: Name, Length: 2500, dtype: object

In [ ]:
cricket_dataset.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13,Start_year,End_year,Name,country,Country
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN,1989,2012,SR Tendulkar,INDIA,INDIA
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN,2000,2015,KC Sangakkara,Asia/ICC/SL,Asia/ICC/SL
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN,1995,2012,RT Ponting,AUS/ICC,AUS/ICC
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN,1989,2011,ST Jayasuriya,Asia/SL,Asia/SL
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN,1998,2015,DPMD Jayawardene,Asia/SL,Asia/SL

In [ ]:
cricket_dataset.loc[:, ~cricket_dataset.columns.duplicated()]

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13,Start_year,End_year,Name,country,Country
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN,1989,2012,SR Tendulkar,INDIA,INDIA
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN,2000,2015,KC Sangakkara,Asia/ICC/SL,Asia/ICC/SL
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN,1995,2012,RT Ponting,AUS/ICC,AUS/ICC
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN,1989,2011,ST Jayasuriya,Asia/SL,Asia/SL
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN,1998,2015,DPMD Jayawardene,Asia/SL,Asia/SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,45,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,NaN,2015,2015,ZS Ansari,ENG,ENG
2496,46,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,NaN,2018,2018,Ariful Haque,BDESH,BDESH
2497,47,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,NaN,1994,1994,Ashfaq Ahmed,PAK,PAK
2498,48,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,NaN,1998,1998,MD Bailey,NZ,NZ
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,NaN,1981,1981,GR Beard,AUS,AUS

In [ ]:
cricket_dataset['Name']= cricket_dataset['Player'].str.split(pat = '(').str[0]
cricket_dataset['Name']

0           SR Tendulkar
1          KC Sangakkara
2             RT Ponting
3          ST Jayasuriya
4       DPMD Jayawardene
              ...
2495           ZS Ansari
2496        Ariful Haque
2497        Ashfaq Ahmed
2498           MD Bailey
2499            GR Beard
Name: Name, Length: 2500, dtype: object

In [ ]:
cricket_dataset['Country'] = cricket_dataset['Player'].str.split(pat = '(').str[1]
cricket_dataset['Country'] = cricket_dataset['Country'].str.split(pat = ')').str[0]
cricket_dataset['Country']

0             INDIA
1       Asia/ICC/SL
2           AUS/ICC
3           Asia/SL
4           Asia/SL
           ...
2495            ENG
2496          BDESH
2497            PAK
2498             NZ
2499            AUS
Name: Country, Length: 2500, dtype: object

In [ ]:
# Change the data types
cricket_dataset.dtypes

Unnamed: 0       int64
Player          object
Span            object
Mat              int64
Inns            object
NO              object
Runs            object
HS              object
Ave             object
BF              object
SR              object
100             object
50              object
0               object
Unnamed: 13    float64
Start_year       int64
End_year         int64
Name            object
country         object
Country         object
dtype: object

In [ ]:
cricket_dataset['High_Inns_Score'] = cricket_dataset['High_Inns_Score'].astype(str).str.split(pat = r'\*').str[0]
cricket_dataset['High_Inns_Score']

KeyError: 'High_Inns_Score'

In [ ]:
cricket_dataset.dtypes

Unnamed: 0       int64
Player          object
Span            object
Mat              int64
Inns            object
NO              object
Runs            object
HS              object
Ave             object
BF              object
SR              object
100             object
50              object
0               object
Unnamed: 13    float64
Start_year       int64
End_year         int64
Name            object
country         object
Country         object
dtype: object

In [ ]:
## Question, Build out career_length column
cricket_dataset['career_length'] = cricket_dataset['End_year'] - cricket_dataset['Start_year']
print(f"career_length : {cricket_dataset['career_length']}")
cricket_dataset.head()

career_length : 0       23
1       15
2       17
3       22
4       17
        ..
2495     0
2496     0
2497     0
2498     0
2499     0
Name: career_length, Length: 2500, dtype: int64

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,...,100,50,0,Unnamed: 13,Start_year,End_year,Name,country,Country,career_length
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,...,49,96,20,NaN,1989,2012,SR Tendulkar,INDIA,INDIA,23
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,...,25,93,15,NaN,2000,2015,KC Sangakkara,Asia/ICC/SL,Asia/ICC/SL,15
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,...,30,82,20,NaN,1995,2012,RT Ponting,AUS/ICC,AUS/ICC,17
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,...,28,68,34,NaN,1989,2011,ST Jayasuriya,Asia/SL,Asia/SL,22
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,...,19,77,28,NaN,1998,2015,DPMD Jayawardene,Asia/SL,Asia/SL,17

In [ ]:
#  Calculation with the dataframe

In [ ]:
# Question1 , what is the average career length of cricketers
Average_career_length = cricket_dataset['career_length'].mean()
print(f"Average_career_length : {Average_career_length}")

Average_career_length : 4.2248

In [ ]:
cricket_dataset['career_length'].mean()

np.float64(4.2248)

In [ ]:
# Question 2, AVG Batting_Strike_Rate for cricketers who played over 10 years
cricket_dataset['career_length'] > 10['Batting_Strike_Rate'].mean()

In [ ]:
# Question 3, Find the number of cricketers who played before 1990
catalogue_before_1990 = cricket_dataset[cricket_dataset['Start_year'] < 1990]
num_cricketers_before_1990 = catalogue_before_1990.shape[0]
print(f"Number of cricketers who started playing before 1990: {num_cricketers_before_1990}")

Number of cricketers who started playing before 1990: 582

In [ ]:
cricket_dataset[cricket_dataset['Start_year'] < 1990]

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,...,100,50,0,Unnamed: 13,Start_year,End_year,Name,country,Country,career_length
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,...,49,96,20,NaN,1989,2012,SR Tendulkar,INDIA,INDIA,23
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,...,28,68,34,NaN,1989,2011,ST Jayasuriya,Asia/SL,Asia/SL,22
17,17,M Azharuddin (INDIA),1985-2000,334,308,54,9378,153*,36.92,12669,...,7,58,9,NaN,1985,2000,M Azharuddin,INDIA,INDIA,15
18,18,PA de Silva (SL),1984-2003,308,296,30,9284,145,34.9,11443,...,11,64,17,NaN,1984,2003,PA de Silva,SL,SL,19
20,20,Saeed Anwar (PAK),1989-2003,247,244,19,8824,194,39.21,10938,...,20,43,15,NaN,1989,2003,Saeed Anwar,PAK,PAK,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2484,34,GS Sobers (WI),1973-1973,1,1,0,0,0,0,6,...,0,0,1,NaN,1973,1973,GS Sobers,WI,WI,0
2486,36,M Venkataramana (INDIA),1988-1988,1,1,1,0,0*,-,0,...,0,0,0,NaN,1988,1988,M Venkataramana,INDIA,INDIA,0
2490,40,Aamer Hameed (PAK),1977-1978,2,-,-,-,-,-,-,...,-,-,-,NaN,1977,1978,Aamer Hameed,PAK,PAK,1
2493,43,FS Ahangama (SL),1985-1985,1,-,-,-,-,-,-,...,-,-,-,NaN,1985,1985,FS Ahangama,SL,SL,0
2499,49,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,...,-,-,-,NaN,1981,1981,GR Beard,AUS,AUS,0

In [ ]:
#Question 4, Max highest Inns Score by country
cricket_dataset[cricket_dataset['Highest_Inns_Score']].max()['country']

Maximum Highest Innings Score by Country:
Country
1                   8.0
3                  53.0
AFG               131.0
AUS               185.0
AUS/ICC           181.0
AUS/NZ            170.0
AUS/SA            107.0
Afr/ICC/SA        139.0
Afr/KENYA         111.0
Afr/SA            176.0
Afr/ZIM           117.0
Asia/BDESH        109.0
Asia/ICC/INDIA    219.0
Asia/ICC/PAK      124.0
Asia/ICC/SL       169.0
Asia/INDIA        183.0
Asia/PAK          141.0
Asia/SL           189.0
BDESH             154.0
BMUDA             102.0
CAN               137.0
CAN/WI             44.0
EAf                45.0
ENG               180.0
ENG/ICC           130.0
ENG/IRE           160.0
ENG/PNG            80.0
ENG/SCOT           50.0
HKG               143.0
HKG/NZ            124.0
ICC/NZ            134.0
ICC/SA             42.0
ICC/WI            215.0
INDIA             264.0
IRE               177.0
KENYA             144.0
NAM               136.0
NEPAL             115.0
NL                137.0
NL/SA              57.0
NZ                237.0
OMAN               79.0
PAK               210.0
PNG               151.0
SA                188.0
SA/USA              6.0
SCOT              175.0
SL                161.0
UAE               132.0
USA                95.0
USA/WI            157.0
WI                189.0
ZIM               194.0
Name: HS, dtype: float64

In [ ]:
cricket_dataset.groupby('Country')['HS'].max()

Country
1                   8.0
3                  53.0
AFG               131.0
AUS               185.0
AUS/ICC           181.0
AUS/NZ            170.0
AUS/SA            107.0
Afr/ICC/SA        139.0
Afr/KENYA         111.0
Afr/SA            176.0
Afr/ZIM           117.0
Asia/BDESH        109.0
Asia/ICC/INDIA    219.0
Asia/ICC/PAK      124.0
Asia/ICC/SL       169.0
Asia/INDIA        183.0
Asia/PAK          141.0
Asia/SL           189.0
BDESH             154.0
BMUDA             102.0
CAN               137.0
CAN/WI             44.0
EAf                45.0
ENG               180.0
ENG/ICC           130.0
ENG/IRE           160.0
ENG/PNG            80.0
ENG/SCOT           50.0
HKG               143.0
HKG/NZ            124.0
ICC/NZ            134.0
ICC/SA             42.0
ICC/WI            215.0
INDIA             264.0
IRE               177.0
KENYA             144.0
NAM               136.0
NEPAL             115.0
NL                137.0
NL/SA              57.0
NZ                237.0
OMAN               79.0
PAK               210.0
PNG               151.0
SA                188.0
SA/USA              6.0
SCOT              175.0
SL                161.0
UAE               132.0
USA                95.0
USA/WI            157.0
WI                189.0
ZIM               194.0
Name: HS, dtype: float64

In [ ]:
# Question 5, Hundreds, fifties, ducks (0) AVG by country
# Ensure '100', '50', and '0' columns are numeric (handling non-numeric values)
cricket_dataset['100'] = pd.to_numeric(cricket_dataset['100'], errors='coerce')
cricket_dataset['50'] = pd.to_numeric(cricket_dataset['50'], errors='coerce')
cricket_dataset['0'] = pd.to_numeric(cricket_dataset['0'], errors='coerce')

# Calculate the mean of '100', '50', and '0' columns grouped by 'Country'
country_stats = cricket_dataset.groupby('Country')[['100', '50', '0']].mean()

print("Average Hundreds, Fifties, and Ducks by Country:")
print(country_stats)

Average Hundreds, Fifties, and Ducks by Country:
                      100         50          0
Country
1                0.000000   0.000000   0.000000
3                0.000000   1.000000   0.000000
AFG              0.431818   3.022727   2.318182
AUS              0.805687   4.582938   2.289100
AUS/ICC         11.200000  34.800000  14.400000
AUS/NZ           1.000000   4.000000   7.000000
AUS/SA           1.000000  26.000000   0.000000
Afr/ICC/SA       9.000000  50.000000  18.500000
Afr/KENYA        1.333333  10.666667  11.666667
Afr/SA           2.866667  12.066667   4.733333
Afr/ZIM          1.500000  18.750000  13.250000
Asia/BDESH       1.000000   7.666667  14.666667
Asia/ICC/INDIA  13.500000  60.500000  13.500000
Asia/ICC/PAK     3.000000  19.500000  20.500000
Asia/ICC/SL     12.500000  46.500000  20.000000
Asia/INDIA       6.571429  28.142857  14.714286
Asia/PAK         7.000000  42.500000  13.000000
Asia/SL         12.400000  36.600000  22.600000
BDESH            0.403226   2.701613   2.540323
BMUDA            0.057143   0.571429   1.114286
CAN              0.060241   0.734940   0.975904
CAN/WI           0.000000   0.000000   4.000000
EAf              0.000000   0.000000   0.461538
ENG              0.642857   2.907563   2.050420
ENG/ICC          4.000000  14.333333   8.666667
ENG/IRE          6.333333  20.333333   8.000000
ENG/PNG          0.000000   4.000000   1.000000
ENG/SCOT         0.000000   1.000000   3.000000
HKG              0.025000   0.500000   0.825000
HKG/NZ           1.000000   0.000000   1.000000
ICC/NZ           4.000000  26.333333  16.333333
ICC/SA           0.000000   0.000000   9.000000
ICC/WI          22.000000  58.500000  20.500000
INDIA            1.052885   3.822115   2.230769
IRE              0.555556   2.111111   2.203704
KENYA            0.130435   2.086957   2.804348
NAM              0.038462   0.269231   0.692308
NEPAL            0.052632   0.263158   0.421053
NL               0.156250   1.046875   1.250000
NL/SA            0.000000   1.000000   1.000000
NZ               0.646739   3.684783   2.548913
OMAN             0.000000   0.307692   0.538462
PAK              0.804762   3.823810   2.700000
PNG              0.130435   0.652174   1.130435
SA               1.165049   4.184466   2.339806
SA/USA           0.000000   0.000000   2.000000
SCOT             0.352941   1.500000   1.485294
SL               0.502825   3.548023   2.677966
UAE              0.061728   0.604938   0.666667
USA              0.000000   0.259259   0.555556
USA/WI           0.666667   1.000000   2.333333
WI               0.728723   3.707447   2.914894
ZIM              0.439394   3.303030   3.265152